.text-red {
    color: #e74a3b !important;
}
.text-blue {
    color: #3bb1e7 !important;
}

.nav-item {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.nav-link {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.center-item {
    margin-left: 40%;
}

.modal-show {
    display: block; padding-right: 17px;
}

.modal-hide {
    display: none;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
