services:
  apache:
    ports:
      - '9000'
      # - '127.0.0.1:${HTTPS_APP_PORT}:443'
    environment:
      MARIADB_TEST_USER: ${MARIADB_TEST_USER}
      MARIADB_TEST_PASSWORD: ${MARIADB_TEST_PASSWORD}
      MARIADB_TEST_DATABASE: ${MARIADB_TEST_DATABASE}
    volumes:
      - ../app:/var/www/html
      - ../SSL:/etc/ssl/custom
      - ./webservers/apache/php-config/php.ini:/usr/local/etc/php/conf.d/extra-php-config.ini

  php-cli:
    environment:
      MARIADB_TEST_USER: ${MARIADB_TEST_USER}
      MARIADB_TEST_PASSWORD: ${MARIADB_TEST_PASSWORD}
      MARIADB_TEST_DATABASE: ${MARIADB_TEST_DATABASE}
    volumes:
      - ../app:/var/www/html
      - ../SSL:/etc/ssl/custom:ro
    depends_on:
      maria-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  maria-db:
    ports:
      - '127.0.0.1:${DB_PORT}:3306'
    environment:
      APP_ENV: ${APP_ENV}
      MYSQL_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MYSQL_USER: ${MARIADB_USER}
      MYSQL_PASSWORD: ${MARIADB_PASSWORD}
      MYSQL_DATABASE: ${MARIADB_DATABASE}
      MARIADB_TEST_USER: ${MARIADB_TEST_USER}
      MARIADB_TEST_PASSWORD: ${MARIADB_TEST_PASSWORD}
      MARIADB_TEST_DATABASE: ${MARIADB_TEST_DATABASE}

  yarn:
    environment:
      HTTPS_APP_PORT: ${HTTPS_APP_PORT}
    volumes:
      - ../app:/home/node/app/src
    ports:
      - '8080:8080'

  es01:
    container_name: ${APP_NAME}-es01
    image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_VERSION}
    ports:
      - ${ELASTICSEARCH_EXTERNAL_PORT}:9200
    environment:
      - node.name=es01
      - discovery.seed_hosts=es02
      - cluster.initial_master_nodes=es01,es02
      - cluster.name=docker-cluster
      - ELASTIC_PASSWORD=$ELASTIC_PASSWORD
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g -Dcom.sun.management.jmxremote=false -XX:+UseContainerSupport"
      - xpack.license.self_generated.type=basic
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.keystore.path=/usr/share/elasticsearch/config/certs/es01/es01.p12
      - xpack.security.transport.ssl.truststore.path=/usr/share/elasticsearch/config/certs/es01/es01.p12
      - xpack.security.transport.ssl.keystore.password=''
      - xpack.security.transport.ssl.truststore.password=''
    volumes:
      - 'data01:/usr/share/elasticsearch/data'
      - 'certs:/usr/share/elasticsearch/config/certs:ro'

    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: curl -s -u "elastic:$ELASTIC_PASSWORD" http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=50s || exit 1
      interval: 15s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    networks:
      - HomeAppProjectNetwork

  es02:
    container_name: ${APP_NAME}-es02
    image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_VERSION}
    environment:
      - node.name=es02
      - cluster.name=docker-cluster
      - discovery.seed_hosts=es01
      - cluster.initial_master_nodes=es01,es02
      - ELASTIC_PASSWORD=$ELASTIC_PASSWORD
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g -Dcom.sun.management.jmxremote=false -XX:+UseContainerSupport"
      - xpack.license.self_generated.type=basic
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.keystore.path=/usr/share/elasticsearch/config/certs/es02/es02.p12
      - xpack.security.transport.ssl.truststore.path=/usr/share/elasticsearch/config/certs/es02/es02.p12
      - xpack.security.transport.ssl.keystore.password=''
      - xpack.security.transport.ssl.truststore.password=''
    volumes:
      - 'data02:/usr/share/elasticsearch/data'
      - 'certs:/usr/share/elasticsearch/config/certs:ro'
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: curl -s -u "elastic:$ELASTIC_PASSWORD" http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=50s || exit 1
      interval: 15s
      timeout: 10s
      retries: 5
    depends_on:
      - es01
    restart: unless-stopped
    networks:
      - HomeAppProjectNetwork

volumes:
  data01:
  data02:
  certs:
