version: '3.9'

services:
  apache:
    ports:
      - '9000'
    environment:
      MARIADB_TEST_USER: ${MARIADB_TEST_USER}
      MARIADB_TEST_PASSWORD: ${MARIADB_TEST_PASSWORD}
      MARIADB_TEST_DATABASE: ${MARIADB_TEST_DATABASE}

  maria-db:
    ports:
      - '127.0.0.1:${DB_PORT}:3306'
    environment:
      MARIADB_TEST_USER: ${MARIADB_TEST_USER}
      MARIADB_TEST_PASSWORD: ${MARIADB_TEST_PASSWORD}
      MARIADB_TEST_DATABASE: ${MARIADB_TEST_DATABASE}

  yarn:
    ports:
      - '8080:8080'
