version: '3.9'

services:
  apache:
    ports:
      - '9000'
      # - '127.0.0.1:${HTTPS_APP_PORT}:443'
    environment:
      MARIADB_TEST_USER: ${MARIADB_TEST_USER}
      MARIADB_TEST_PASSWORD: ${MARIADB_TEST_PASSWORD}
      MARIADB_TEST_DATABASE: ${MARIADB_TEST_DATABASE}
    volumes:
      - ../app:/var/www/html
      - ../SSL:/etc/ssl/custom
      - ./webservers/apache/php-config/php.ini:/usr/local/etc/php/conf.d/extra-php-config.ini

  php-cli:
    environment:
      MARIADB_TEST_USER: ${MARIADB_TEST_USER}
      MARIADB_TEST_PASSWORD: ${MARIADB_TEST_PASSWORD}
      MARIADB_TEST_DATABASE: ${MARIADB_TEST_DATABASE}
    volumes:
      - ../app:/var/www/html
      - ../SSL:/etc/ssl/custom:ro
    depends_on:
      maria-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  maria-db:
    ports:
      - '127.0.0.1:${DB_PORT}:3306'
    environment:
      APP_ENV: ${APP_ENV}
      MYSQL_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MYSQL_USER: ${MARIADB_USER}
      MYSQL_PASSWORD: ${MARIADB_PASSWORD}
      MYSQL_DATABASE: ${MARIADB_DATABASE}
      MARIADB_TEST_USER: ${MARIADB_TEST_USER}
      MARIADB_TEST_PASSWORD: ${MARIADB_TEST_PASSWORD}
      MARIADB_TEST_DATABASE: ${MARIADB_TEST_DATABASE}

  yarn:
    environment:
      HTTPS_APP_PORT: ${HTTPS_APP_PORT}
    volumes:
      - ../app:/home/node/app/src
    ports:
      - '8080:8080'

  es01:
    ports:
      - ${ELASTICSEARCH_EXTERNAL_PORT}:9200
