
###> symfony/framework-bundle ###
SymfonyReact/.env
SymfonyReact/.env.test
SymfonyReact/.env.test.nonelocal
SymfonyReact/.env.local
SymfonyReact/.env.nonelocal
SymfonyReact/.env.*.local
SymfonyReact/config/secrets/prod/prod.decrypt.private.php
SymfonyReact/public/bundles/
SymfonyReact/var/
SymfonyReact/vendor/

###> symfony/webpack-encore-bundle ###
SymfonyReact/node_modules/
SymfonyReact/public/build/
SymfonyReact/npm-debug.log
SymfonyReact/yarn-error.log

#SymfonyReact/composer.lock
#SymfonyReact/symfony.lock
SymfonyReact/yarn.lock
SymfonyReact/package-lock.json

### IDE tools
.idea
.idea/workspace.xml
.vscode
SymfonyReact/.idea

### CS tools
.php_cs.cache
.php-version
.php-cs-fixer.cache
###> symfony/phpunit-bridge ###
SymfonyReact/.phpunit
SymfonyReact/phpunit.xml
SymfonyReact/.php-version
SymfonyReact/bin/*
SymfonyReact/.phpunit.result.cache

SSL/ca-cert.pem
SSL/ca-key.pem
SSL/client-cert.pem
SSL/server-cert.pem
SSL/server-key.pem
SSL/server.pfx

##< Docker ###
HomeAppDocker/.env
HomeAppDocker/mariadb/db_data/*
HomeAppDocker/rabbitmq/data/*
HomeAppDocker/db/data/*
HomeAppDocker/logs/*
HomeAppDocker/test.sh
HomeAppDocker/apache/auth.json
