###> symfony/framework-bundle ###
app/.env
app/.env.test.nonelocal
app/.env.local
app/.env.nonelocal
app/.env.*.local
app/public/bundles/
app/var/
app/vendor/
app/.php-version
app/bin/*
app/tests/test-files/*
app/config/jwt/private.pem
app/config/jwt/public.pem
app/supervisord.log
app/supervisord.pid

###> symfony/webpack-encore-bundle ###
app/node_modules/
app/public/build/
app/npm-debug.log
app/yarn-error.log

### IDE tools
.idea
.idea/workspace.xml
.vscode
app/.idea

### CS tools
.php_cs.cache
.php-version
.php-cs-fixer.cache

###> symfony/phpunit-bridge ###
app/.phpunit
app/.phpunit.result.cache
app/phpunit.xml

##< SSL >###
SSL/custom/client-cert.pem
SSL/custom/client-key.pem
SSL/custom/server-cert.pem
SSL/custom/server-key.pem
SSL/custom/server.pfx
SSL/custom/ca-cert.pem
SSL/custom/ca-key.pem
SSL/signed/client-cert.pem
SSL/signed/client-key.pem
SSL/signed/ca-cert.pem
##< Docker >###
HomeAppDocker/.env
HomeAppDocker/mariadb/db_data/*
HomeAppDocker/webservers/auth/auth.json
HomeAppDocker/docker-compose.override.*
HomeAppDocker/docker-compose.yml.*
.run/Docker Image.run.xml
.run/DockerComposeHomeApp.run.xml

##< RabbitMQ >###
HomeAppDocker/rabbitmq/data/*
HomeAppDocker/rabbitmq/log/*

##< ElasticSearch >###
HomeAppDocker/elasticsearch/certs/.env
