
###> symfony/framework-bundle ###
SymfonyReact/.env.local
SymfonyReact/.env.local.php
SymfonyReact/.env.*.local
SymfonyReact/config/secrets/prod/prod.decrypt.private.php
SymfonyReact/public/bundles/
SymfonyReact/var/
SymfonyReact/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
SymfonyReact/node_modules/
SymfonyReact/public/build/
SymfonyReact/npm-debug.log
SymfonyReact/yarn-error.log

SymfonyReact/composer.lock

SymfonyReact/symfony.lock

SymfonyReact/yarn.lock

SymfonyReact/package-lock.json

###< symfony/webpack-encore-bundle ###

.idea
.idea/workspace.xml
.vscode
SymfonyReact/.idea


/.php_cs.cache
/.php-version

###> symfony/phpunit-bridge ###
.phpunit
/SymfonyReact/phpunit.result.cache
/SymfonyReact/phpunit.xml
###< symfony/phpunit-bridge ###
SymfonyReact/.phpunit.result.cache
